// This file contains variables and stuff

// variables
$font-family: "Roboto", sans-serif;
$primary-grey: #777;
$light-grey: #999;
$primary-color: #5a4fcf;
$secondary-color: #7cb9e8;
$transition-duration: 150ms;
$danger: #ff2400;
$success: #4cbb17;
$animation-duration: 500ms;
