// This file contains variables and stuff

// variables
$font-family: "Roboto", sans-serif;
$primary-grey: #777;
$light-grey: #999;
$primary-color: #5a4fcf;
$secondary-color: #5d9dce;
$transition-duration: 150ms;
$danger: #ce2029;
$success: #228b22;
$animation-duration: 500ms;
