.container .container-item{
    animation-name: append-yourself;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-play-state: paused;
  }

  @keyframes append-yourself{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

@mixin defineKeyframe($name, $height) {
    @keyframes #{$name} {
        0%{
            opacity: 1;
            transform: translateX(0%);
            height: $height;
        }
        100%{
            opacity: 0;
            transform: translateX(100%);
            height: 0px;
        }
    }
}

@include defineKeyframe('remove-yourself', 19px);